<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>컨텐츠 메니져</title>
	  <%if (process.env.NODE_ENV === 'production') { %>
	    <% //배포시 UIContents.js를 로드 %>
	    <script src="/contents/UIContents.js"></script>
	  <% } %>
	  <script src="/manager.js"></script>
    <!--[if IE 9]>
    <meta id="ie9Trap">
    <![endif]-->
    <!--[if lt IE 9]>
    <meta id="ie8Trap">
    <![endif]-->
  </head>
  <body>
    <div id="root"></div>
    <!-- 배포용 HTML입니다. -->
  </body>
</html>
