.ci {
  max-width: 100%;
  max-height: 100%;
}

div.project-list-wrap div[name="project"] span.ctrl {
  cursor: pointer;
  font-size: 24px;
}

div.project-list-wrap div[name="project"] .img-area {
  cursor: default;
}

div.project-list-wrap div[name="project"] .img-area[data-iseditmode="true"] {
  cursor: pointer;
}

div.pleaseAddNew {
  text-align: center;
  line-height: 650px;
}
div.pleaseAddNew > span {
  font-size: 30px;
  cursor: pointer;
}

div.project-list-wrap div[name="project"].selected {
  background-color: #0c99c9;
}
