.rela {
  position: relative;
}
.abs {
  position: absolute;
}
input.editTextBox {
  line-height: 25px;
}
div.ui-droppable {
  transition: all .2s ease-in-out;
}
div.ui-droppable-hover {
  background-color: #e07b7b;
  transform: scale(1.1);
}
.rela .form-control {
  width: 200px;
  height: 25px;
  border-radius: 15px;
  border-color: #d2d2d2;
  margin-top: 4px;
  margin-left: 10px;
}
.rela button{
  position: absolute;
  right: 10px;
  top: 5px;
  color: #d2d2d2;
  border: none;
  background: none;
  font-size: 12px;
}